@import "simple-grid";


html{
  margin:0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
body{
  background-size: cover;
}
body.default{
  background-image: url("../img/background.JPG");
}
header{
  padding: 1em 0;
}
section{
  background: #fefefe;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -khtml-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding:1rem;
}